<%= image_tag "book.png", :class => "style_image" %>

<div class="about fourteen columns">
  <p class="description">New York City ReportCard is an independent project, and is not affiliated with New York City or the New York City Department of Education. It was created as a research tool under the guidance of instructors at General Assembly, during the completion of the Summer 2014 Web Development Immersive course.<br><br> All data used in ReportCard was pulled directly from the NYC Department of Education's 2013 data collection and was not modified or altered in any form.</p>
  <div class="copyright sixteen columns">
    <p>&copy; Elizabeth Abernethy - 2014</p>
  </div>
</div>
