h1 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 20px solid black;
  padding-bottom: 15px;
}

h2 {
  font-size: 35px;
  letter-spacing: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 10px 0;
  text-align: center;
}

h3 {
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Georgia", serif;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  text-align: center;
  padding-top: 30px;
}

h4 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Georgia", serif;
}

h6 {
  font-size: 1.3em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  text-align: center;
}

body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

subhead {
  margin-top: 100px;
}

nav {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  text-decoration: none;
  padding: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: black;
}

nav a:hover {
  color: #A7A9AC;
}

.about {
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.description {
  font-family: "Georgia", serif;
  font-size: 1em;
  line-height: 1.25em;
  padding: 0 0 0 8em;
  text-align: justify;
}

.description:first-line {
  font-weight: 800;
  font-variant: small-caps;
}

.description:first-letter {
  font-size: 8em;
  line-height: 1em;
  font-weight: 400;
  float: left;
  margin: 0 0 0 -0.1em;
  padding-right: 0.1em;
}

.description + .description:first-letter {
  font-size: 1em;
  line-height: 1.25em;
  float: none;
  margin: 0;
}

.description + .description:first-line {
  font-weight: 400;
  font-variant: normal;
}

.style_image {
  display: block;
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}




.link {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8em;
  vertical-align: center;
  text-align: center;
}

.link a:hover {
  border-bottom: 5px solid #A7A9AC;
}



.boroughs a {
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  color: black;
}

.boroughs a:hover {
  color: #A7A9AC;
  border-bottom: 5px solid #A7A9AC;
}

.districts {
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  text-align: center;
}

.districts a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 35px;
}

.districts a:hover {
  color: #A7A9AC;
  border-bottom: 5px solid #A7A9AC;
}

.searchform {
  border: 0px;
  padding: 10px;
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 5px solid black;
}

.search {
  padding: 20px 0 20px 0;
}



.submit {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
  color: #fff;
  border: 1px solid black;
  height: 40px;
  width: 100px;
  font-size: 18px;
  margin-top: 20px;
}

.schools {
 margin-left: auto;
 margin-right: auto;
 vertical-align: center;
 text-align: center;
}

.code {
  font-family: "Georgia", serif;
  font-size: 20px;
}

.name a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 35px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.name a:hover {
  color: #A7A9AC;
  border-bottom: 5px solid #A7A9AC;
}

.category {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding-bottom: 20px;
}

table, th, td {
  margin-top: 50px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.copyright {
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  text-align: center;
  margin-top: 100px;
  color: #ccc;
}
