<div class="districts sixteen columns">
  <% @districts.each do |district| %>
    <div class="district three columns">
      <%= link_to(district.district_title, district_path(district)) %><br>
    </div>
  <% end %>
</div>
